@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --sof-magenta: hsl(300, 69%, 71%);
}

body {
  background: no-repeat url(/images/bg-desktop.svg);
  background-color: var(--violet);
  background-size: 100%;
  
}
header {
  padding: 50px 50px 10px 50px;
}
.container {
  height: 80vh;
  width: 1400px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  padding: 0px 100px 0px 200px;
}

.container p {
  width: 550px;
  padding: 20px 50px 20px 0px;
}

.content-cont {
  font-family: "Poppins", sans-serif;
  transform: translateY(-40%);
  line-height: 1.5;
  width: 400px;
  color: azure;
}

.content-cont button {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border-style: none;
  color: var(--violet);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.15);
}

.social-media {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  color: azure;
}

i {
  margin-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  padding: 10px;
}

i:hover {
  color: var(--sof-magenta);
  cursor: pointer;
}
button:hover {
  background-color: var(--sof-magenta);
  cursor: pointer;
  color: azure;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 20px 50px 0px;
  }
  .container {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container p {
    width: 350px;
    margin: auto;
    text-align: center;
  }
  .container img {
    padding: 5px 0px 90px;
    width: 80%;
    margin-bottom: 20px;
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -80px;
    color: azure;
    margin-left: 120px;
  }
  button {
    margin-left: -50px;
  }
}
