* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --des-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --main-white: hsl(0, 0%, 100%);
  --main-para: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}
body {

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100vh;
  background-color: var(--very-dark-blue);
}
.main-cont {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  width: 1200px;
  margin: auto;

  background-color: var(--des-blue);
  border-radius: 10px;
}

.main-cont h1,
span {
  color: var(--main-white);
  font-size: 3rem;
  padding: 20px 90px;
  line-height: 1.5;

  font-family: "Lexend Deca", sans-serif;
}

h1 span:first-of-type {
  padding: 0;
  color: var(--soft-violet);
}

.main-cont p {
  padding: 0px 90px;
  width: 500px;
  color: var(--main-para);
  line-height: 1.5;
}

ul,
li {
  display: flex;
  color: var(--stat-headings);
  justify-content: space-evenly;
  padding: 20px;

  margin-left: -10px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

li {
  display: flex;
  flex-direction: column;
}

li span {
  padding: 0px;
  font-size: 1.5rem;
}
img{
    border-radius: 10px;
    
    
}

.desktop-image { background-color: var(--soft-violet) }




img{
    filter: blur(2px);opacity:0.5;
}

@media only screen and (max-width: 800px) {
    body{
        padding:50px;
        text-align: center;
        
    }
    img{
        padding: 60px;
    }
    .main-cont {
      display: block;
      margin: auto;
    }
    p{
        margin-left:60px
    }
    ul{
        display: inline;
    }
    
}